.racer-table td {
  height: 100px;
  width: 100px;
  border-bottom: 1px solid #dddddd;
  background-color: white;
}

.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1-race td.active {
  background-image: url("images/player_1.png");
  background-position: 0 20px;
}
#player2-race td.active {
  background-image: url("images/player_2.png");
  padding-top: 10px;
  background-position: 0 20px;
}

td.finish {
  background-image: url("images/finish.png");
}

.container {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.text-center {
  margin: 50px;
}

p {
  margin-left: 100px;
  margin-bottom: 0;
}

.red {
  color:red;
}

.yellow {
  color: rgb(255, 204, 0);
}
